coolOrange:
  50: #FFF0EE
  100: #FFDAD4
  200: #FFB4AB
  300: #FF897A
  400: #FF5449
  500: #E8503D
  600: #C73E2E
  700: #A12F21
  800: #7D2116
  900: #5A160E

coolRust:
  50: #FDF3F0
  100: #F7DED5
  200: #EEBDAC
  300: #E29A82
  400: #D5735B
  500: #C35A41
  600: #A24733
  700: #833727
  800: #65291C
  900: #4A1D13

trueOrange:
  50: #FDEEE9
  100: #F9C5B5
  200: #F49A81
  300: #F07552
  400: #EA5E34
  500: #D5492B
  600: #B73D23
  700: #93301C
  800: #6F2415
  900: #4F1910

burntOrange:
  50: #FBF2ED
  100: #F3D7C8
  200: #E9B89D
  300: #DD9773
  400: #CF754B
  500: #B85F35
  600: #9A4D2A
  700: #7B3C21
  800: #5E2D19
  900: #432011

warmTangerine:
  50: #FFF7ED
  100: #FFE5C7
  200: #FFCE9E
  300: #FFB576
  400: #FF9B4D
  500: #F58220
  600: #D06B0F
  700: #A95508
  800: #824005
  900: #5D2E03

warmAmber:
  50: #FFFAF0
  100: #FEECC8
  200: #FDDB9F
  300: #FBC877
  400: #F9B44E
  500: #E89F29
  600: #C78413
  700: #A16A09
  800: #7C5105
  900: #593A03

moreColorVars:

:root {
  --interpolation-1-1: #E8503D;
  --interpolation-1-2: #DF4C37;
  --interpolation-1-3: #D74A32;
  --interpolation-1-4: #CF482D;
  --interpolation-1-5: #D5492B;
  --interpolation-2-1: #E8503D;
  --interpolation-2-2: #E24E39;
  --interpolation-2-3: #DC4C35;
  --interpolation-2-4: #D64A31;
  --interpolation-2-5: #D5492B;
  --interpolation-3-1: #E8503D;
  --interpolation-3-2: #E14D39;
  --interpolation-3-3: #DA4B34;
  --interpolation-3-4: #D44930;
  --interpolation-3-5: #D5492B;
  --interpolation-4-1: #E8503D;
  --interpolation-4-2: #E34E3A;
  --interpolation-4-3: #DE4C36;
  --interpolation-4-4: #D94A32;
  --interpolation-4-5: #D5492B;
  --interpolation-5-1: #E8503D;
  --interpolation-5-2: #E24D38;
  --interpolation-5-3: #DD4B34;
  --interpolation-5-4: #D74A31;
  --interpolation-5-5: #D5492B;
  --saturation-1-1: #FF5240;
  --saturation-1-2: #F84F3C;
  --saturation-1-3: #F14D38;
  --saturation-1-4: #EA4B34;
  --saturation-1-5: #E34930;
  --saturation-2-1: #E8503D;
  --saturation-2-2: #E04D39;
  --saturation-2-3: #D94B35;
  --saturation-2-4: #D24931;
  --saturation-2-5: #D5492B;
  --saturation-3-1: #D6534A;
  --saturation-3-2: #CF5045;
  --saturation-3-3: #C84E40;
  --saturation-3-4: #C14B3B;
  --saturation-3-5: #BA4936;
  --saturation-4-1: #C35C52;
  --saturation-4-2: #BD594D;
  --saturation-4-3: #B75648;
  --saturation-4-4: #B15343;
  --saturation-4-5: #AB503E;
  --lightness-1-1: #FF6F5E;
  --lightness-1-2: #F86C5A;
  --lightness-1-3: #F16956;
  --lightness-1-4: #EA6652;
  --lightness-1-5: #E3634E;
  --lightness-2-1: #EE5D4A;
  --lightness-2-2: #E75A46;
  --lightness-2-3: #E05742;
  --lightness-2-4: #D9543E;
  --lightness-2-5: #D5492B;
  --lightness-3-1: #D54535;
  --lightness-3-2: #CE4231;
  --lightness-3-3: #C73F2D;
  --lightness-3-4: #C03C29;
  --lightness-3-5: #B93925;
  --lightness-4-1: #C23828;
  --lightness-4-2: #BB3524;
  --lightness-4-3: #B43220;
  --lightness-4-4: #AD2F1C;
  --lightness-4-5: #A62C18;
  --temperature-1-1: #E8503D;
  --temperature-1-2: #E54B3E;
  --temperature-1-3: #E2463F;
  --temperature-1-4: #DF4140;
  --temperature-1-5: #DC3C41;
  --temperature-2-1: #E8503D;
  --temperature-2-2: #E34D3A;
  --temperature-2-3: #DE4A37;
  --temperature-2-4: #D94734;
  --temperature-2-5: #D5492B;
  --temperature-3-1: #E8503D;
  --temperature-3-2: #E8523A;
  --temperature-3-3: #E85437;
  --temperature-3-4: #E85634;
  --temperature-3-5: #E85831;
  --temperature-4-1: #E8553A;
  --temperature-4-2: #E85737;
  --temperature-4-3: #E85934;
  --temperature-4-4: #E85B31;
  --temperature-4-5: #E85D2E;
}

/* COLOR RAMP */
:root {
  /* Primary Scale */
  --orange-50: #FFF6F0;
  --orange-100: #FFEADB;
  --orange-200: #FFD4B7;
  --orange-300: #FFB88F;
  --orange-400: #FF9463;
  --orange-500: #F1540E;
  --orange-600: #D44400;
  --orange-700: #B13700;
  --orange-800: #8E2C00;
  --orange-900: #6B2100;
}
